/*//// AGE REQUEST */
#yourAge{
    display: block;
    z-index: 10;
    position: fixed;
    left: 0; top:0;right: 0;bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    /*overflow: hidden;*/
    /*opacity: 0.5;*/
}
#yourAge #popup{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    background-color: white;
    opacity: 1;
    z-index: 8;
    width: 600px;
    height: 400px;
    padding: 5%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 25%;
    transform: translateY(-50%);
}
#yourAge header{
    padding-bottom: 100px;
}
.buttons{
    position: absolute;
    left: 0; bottom: 0; right: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 40px;
}
#yourAge button{
    display: block;
    width: 100px; height: 50px;
    border-radius: 25px;
    outline: none;
    z-index: 2;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #ffa44d;
    color: #fff;
}

/*//////NAVBAR */

.dropdown-item:hover{
    background-color: none;
}
.dropdown-menu{
    background-color: rgba(255, 0, 0, 0) !important;
}
.navbar{
    margin: 0px !important;
    padding: 0px !important;
    background-color: #ff8c1b;

    justify-content: space-around !important;
    border: 0px;
}
.navbar-nav a{
    height: 100% ! important;
    padding-left: 40px ! important;
    padding-right: 40px !important;
    /*border: solid 1px black;*/

    border-right: 1px solid #bfbfbf;

}
.navbar-toggler{

}
.dropdown-menu{
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
    border: none !important;

}
.dropdown-toggle{background-color: #ff8c1b ! important;}
.dropdown-item{
    margin-top: 4px ! important;
    background-color: #ff8c1b;

}
#navigationBar li a:link    {
  text-decoration:  none!important;
  color:            #fff !important;
  font-size:        16px !important;
  }
#navigationBar a:visited {
  text-decoration:  none;
  color:            #fff !important;
  font-size:        16px !important;
  background-color: #ff8c1b;
  }
#navigationBar a:hover   {
  text-decoration:  none!important;
  font-weight:      bold!important;
  color:            #fff !important;
  cursor:           pointer!important;
  font-size:        16px !important;
  background-color: black !important;
  }
#navigationBar a:active  {
  text-decoration:  none!important;
  font-weight:      bold!important;
  color:            #fff!important;
  font-size:        16px !important;
  background-color: black;
  }
