.orange{background-color:#ff8c1b;}
.barreNav{
  background-color:#ffffff;
  min-height: 80px;
  max-height: 100px;
}
.barreNav2{
  min-height: 80px;
  max-height: 100px;
}
.marginTop{margin-top: 30px;vertical-align: middle;}
