#slideShow{
  min-height: 400px;
  max-height: 400px;

}
#slideShowLeft{
  min-height: 400px;
  max-height: 400px;
  border: 1px solid black;
}
#slideShowRight{
  min-height: 400px;
  max-height: 400px;
  border: 1px solid black;
}
.orange{background-color:#ff8c1b;}
.barreNav{
  background-color:#ffffff;
  min-height: 80px;
  max-height: 100px;
}
.barreNav2{
  min-height: 80px;
  max-height: 100px;
}
.marginTop{margin-top: 30px;vertical-align: middle;}
